html,
body,
header,
#intro {
    height: 100%;
}

body{
  overflow-x: hidden; /*--right gutter fix--*/
  font-family: 'Oswald', sans-serif;
  color:#ffffff;
}

#intro {
    background: url("../img/bl_website_background_1440x900.png")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#intro img{
  width: 60%;
}

.hr-color{
  border-top: 2px solid #ff7212;
}

.h2-color{
  color: #ff7212;
}

#outline{
  color: #000; /* Fallback for older browsers */
  color: rgba(0, 0, 0, 0.1);
  margin: 0;
  -webkit-text-stroke: 0.03rem white;
}

.btn-color{
  background-color: #ff7212;
}

.btn:hover{
  background-color: #ff7212;
  border-color: #ff7212;
  color:#ffffff
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }